.header{
    font-size: xx-large;
    font-weight: bolder;
    margin-left:20px;
    margin-top:20px;
}
form{
    margin-left:25px;
    font: 400;
    font-weight: bold;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-label {
    flex: 0 0 auto;
    margin-right: 10px;
    font-weight: bold;
  }
  
  input[type="date"] {
    flex: 1 1 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .Date{
    margin-top:20px;
  }
  